.products {
  min-height: 100vh;
  text-align: center;
}

.card {
  display: inline-block;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #d8d8d8; 
  margin: 5px;
}

.product-add {
  padding: 5px;
}