* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
}
li {
  list-style: none;
}
img {
  width: 260px;
  height: 260px;
}
h2 {
  font-weight: normal;
}
a {
  color: rgb(72, 137, 195);
}
a:hover, button:hover {
  cursor: pointer;
}